<li id="comment-<%= comment.id %>">
	<div class="comment_wrapper">
		<div class="comment">
			<% class_name = comment.user == comment.post.user ? "op_user" : "" %>
			<span><%= link_to comment.user.username, comment.user, class: "#{class_name}" %> | <small><%= time_ago_in_words(comment.created_at) %></small></span>
			<div class="row">
			<p class="col-md-11"><%= comment.body %></p>
			

			<div class="btn-group col-md-1">
				<% if current_user?(comment.user) || (logged_in? && current_user.admin?)%>
					<%= link_to comment, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "btn btn-ominous btn-xs" do %>
						<i class="fa fa-times" aria-hidden="true"></i>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</li>

