<% provide(:title, @user.username) %>
<div class="row">
  <section class="user_info">
    <h1><%= @user.username %></h1>
    <h3>Stylepoints: <%= @stylepoints %></h3>
    <% if logged_in? && current_user?(@user) %>
      <h3><a href="<%= categories_user_path(@user) %>">Followed Categories</a></h3>
    <% end %>
  </section>
</div>
<div class="row">
  <% if @user.posts.any? %>
    <h3>Posts (<%= @user.posts.count %>)</h3>
    <ol class="posts">
      <%= render @posts %>
    </ol>
    <%= will_paginate @posts %>
  <% end %>
</div>
