<li id="post-<%= post.id %>" class="col-md-3">
  <div class="post-container">
    <% if logged_in? && (post.user.id == current_user.id || current_user.admin?) %>
      <div title="delete post?" class="btn-group delete-button">
        <%= link_to post, method: :delete, data: {confirm: "Are you sure?"}, remote: true, class: "btn btn-ominous btn-xs" do %>
          <i class="fa fa-times" aria-hidden="true"></i>
        <% end %>
      </div>
    <% end %>
    <div class="post-image-container">
    <div class="image_link"><%= link_to image_tag(full_url(post.image_link)), post %></div>
    </div>
    <div class="post-details-container">
    
    <div class="row">

      <span class="voting col-md-4">
      	<div title="vote on this post" class="btn-group-vertical">
    	    <% active_css = logged_in? && current_user?(current_user) && current_user.voted_up_on?(post) ? "active" : "" %>
          <% use_ajax = logged_in? %>
          <%= link_to upvote_post_path(post), method: :put, remote: use_ajax, id: "upvote-" + post.id.to_s + "-button", class: "btn btn-xs btn-upvote #{active_css}" do %>
    	    	<i class="fa fa-arrow-up" aria-hidden="true"></i>
    	    <% end %>
          <% active_css = logged_in? && current_user?(current_user) && current_user.voted_down_on?(post) ? "active" : "" %>
    	    <%= link_to downvote_post_path(post), method: :put, remote: use_ajax, id: "downvote-" + post.id.to_s + "-button", class: "btn btn-xs btn-downvote #{active_css}" do %>
    	    	<i class="fa fa-arrow-down" aria-hidden="true"></i>
    	    <% end %>
        </div>
        <span id="post-<%= post.id %>-score"><%= post.cached_votes_score %></span>
      </span>

      <span class="category col-md-8"><%= link_to post.category.name, post.category, class: "pull-right" %></span><br>
    </div>

    <div class="row">
      <span class="comment_count col-md-6"><%= post.comments.count %> Comments</span>
      <span class="buy_link col-md-6"><%= link_to "check it out", full_url(post.buy_link), target: '_blank', class: "pull-right" %></span>
    </div>
    
    <span class="post_footer">
      <span class="timestamp">Posted <%= time_ago_in_words(post.created_at) %> ago by </span>
      <span title='<%= "#{post.user.username}: #{pluralize(post.user.stylepoints, 'stylepoint')}" %>' 
            class="user"><%= link_to post.user.username, post.user %></span>.
    </span>
    </div>
  </div>
</li>