<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <p>
      <small>
        First, upload an image to your favorite image host (<a href="http://imgur.com/">imgur.com</a> maybe?)<br>Then, copy the link to it.
      </small>
    </p>
    <%= f.label "link to image" %>
    <%= f.text_field :image_link, placeholder: "Link to an image..." %>
  </div>
  <div class="field">
    <%= f.label "link to store" %>
    <%= f.text_field :buy_link, placeholder: "Link to where I can buy this..." %>
  </div>
  <div class="field">
    <%= f.label "category" %>
    <%= #f.select :category_id, options_from_collection_for_select(@categories,'id', 'name'), :prompt => "Select one" 
    %>
    <input id="select_category" placeholder="Which category does this belong to..."/>
    <input id="post_category_id" name="post[category_id]" type="hidden"/>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">

  $(function() {
 
  $('#select_category').autocomplete({
          minLength: 2,
          source: '<%= categories_path(:json) %>',
          autoFocus: true,
          select: function(event, ui) {
              $('#select_category').val(ui.item.name);
              $("#post_category_id").val(ui.item.id);
              return false;
          }
      })
      .data( "uiAutocomplete" )._renderItem = function( ul, item ) {
          return $( "<li></li>" )
              .data( "item.autocomplete", item )
              .append( "<a>" + item.name + "</a>" )
              .appendTo( ul );
      };
  });
</script>