<div class="page-header">
	<h1 style="text-align:center"><small>submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= link_to @post.user.username, @post.user %></small></h1>
</div>
<div class="post_show_page_container">
	<span class="voting">	
		<div class="btn-group-vertical">
			<% active_css = logged_in? && current_user?(current_user) && current_user.voted_up_on?(@post) ? "active" : "" %>
			<% use_ajax = logged_in? %>
	    <%= link_to upvote_post_path(@post), method: :put, remote: use_ajax, id: "upvote-" + @post.id.to_s + "-button", class: "btn btn-sm btn-upvote #{active_css}" do %>
	    	<i class="fa fa-arrow-up" aria-hidden="true"></i>
	    <% end %>
	    <% active_css = logged_in? && current_user?(current_user) && current_user.voted_down_on?(@post) ? "active" : "" %>
	    <%= link_to downvote_post_path(@post), method: :put, remote: use_ajax, id: "downvote-" + @post.id.to_s + "-button", class: "btn btn-sm btn-downvote #{active_css}" do %>
	    	<i class="fa fa-arrow-down" aria-hidden="true"></i>
	    <% end %>
	  </div>
	  <span id="post-<%= @post.id %>-score"><%= @post.cached_votes_score %></span>
	</span>

	<% if current_user?(@post.user) || (logged_in? && current_user.admin?) %>
		<div class="btn-group pull-right" title="delete post?">
			<%= link_to 'Delete', @post, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-ominous" %>
		</div>
	<% end %>

	<div class="image_link_show_page"><%= image_tag(full_url(@post.image_link)) %></div>

	<span class="buy_link pull-right"><%= link_to "check it out", full_url(@post.buy_link), target: '_blank' %></span>

	<span class="category"><%= link_to @post.category.name, @post.category %></span>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3 class="comments_title"><%= @post.comments.count %> Comments</h3>

		<% if logged_in? %>
				<%= form_for [@post, @post.comments.build] do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<div class="field">
					<%= f.text_area :body, class: 'form-control' %>
				</div>
				<%= f.submit "Comment", class: "btn btn-cool" %>

				<% end %>
		<% end %>
	</div>
</div>
<div class="row">
		<div id="comments">
				<%= render 'shared/comments' %>
		</div>
</div>

