<li>

  <% if logged_in? %>
    <span class="follow_form pull-left" id="follow_form_<%= category.id %>">
      <% @category = category %>
      <% if current_user.following?(category) %>
        <%= render 'categories/unfollow' %>
      <% else %>
        <%= render 'categories/follow' %>
      <% end %>
    </span>
  <% end %>

  <span class="category_name"><%= link_to category.name, category %></span>

  <% if category.is_default? %>
    <span style="font-size:.8em;padding:3px;color:red;border: 2px solid red;border-radius:3px;">Default</span>
  <% end %>

  <br>

  <span class="category_description"><i><span id="follower-count-<%= category.id %>"><%= category.users_count %></span> followers</i>. <%= category.description %></span>

  <% if logged_in? && current_user.admin? %>
    <%= link_to category, method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-xs btn-danger pull-right" do %>
      <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
    <%= link_to "edit", edit_category_path(category), class: "btn btn-xs btn-primary pull-right", style: "margin: 0px 5px;" %>
  <% end %>
</li>