<li>

  <% if logged_in? %>
    <span class="follow_form pull-left" id="follow_form_<%= category.id %>">
      <% @category = category %>
      <% if current_user.following?(category) %>
        <%= render 'unfollow' %>
      <% else %>
        <%= render 'follow' %>
      <% end %>
    </span>
  <% end %>

  <span class="category_name"><%= link_to category.name, category %></span>

  <span class="category_description"><%= category.description %></span>

  <% if logged_in? && current_user.admin? %>
    <%= link_to "delete", category, method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-xs btn-danger pull-right" %>
    <%= link_to "edit", edit_category_path(category), class: "btn btn-xs btn-primary pull-right" %>
  <% end %>
</li>