<% provide(:title, 'New Category') %>
<h1>New Category</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

	  <%= f.label :name %>
	  <%= f.text_field :name, class: 'form-control' %>

	  <%= f.label :slug %>
	  <div class="input-group form-group">
	  	<span class="input-group-addon"><i>/c/</i></span><%= f.text_field :slug, class: 'form-control' %>
	  </div>

	  <%= f.label :description %>
	  <%= f.text_area :description, class: 'form-control' %>

	  <% if logged_in? && current_user.admin? %>
		  <%= f.label :is_default, :class => "checkbox" do %>
			  Default<%= f.check_box :is_default, id: "category_default_checkbox" %>
			  <% end %>
		<% end %>

	  <%= f.submit "Create", class: "btn btn-primary" %>
	  <span style="color:red">You will not be able to edit this category after it is created.</span>
	<% end %>
  </div>
</div>